<form [formGroup]="form">
    <app-step-layout [step]="view.step" [blocks]="view.blocksArray">
        <ng-template #blockContent let-block>
            @switch (block.type) { @case ('radio') {
            <app-radio-group [options]="block.options || []" [formControlName]="block.id"></app-radio-group>
            } @case ('checkbox') {
            <app-checkbox-group [options]="block.options || []" [formControlName]="block.id"></app-checkbox-group>
            } @case ('textarea') {
            <app-textarea-field
                [label]="block.label || ''"
                [placeholder]="block.placeholder || ''"
                [limit]="1000"
                [formControlName]="block.id"></app-textarea-field>
            } }
        </ng-template>
    </app-step-layout>
</form>
